li {
    list-style: none;
}
.logo {
    margin-left: 15px;
    margin-right:70px;
    float:left;
    font-size: 27px;
    font-weight: bold;
    color : pink;
    border-color: 1px solid #000;
    cursor: pointer;
}
.header-center {
    margin-top: 20px;
    width:1000px;
    height:45px;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 800;
    font-family: sans-serif;  
    
}

.header-center ul li {
    float: left;
    width:20%;
    height:50px;
    line-height: 50px;
    text-align: center;
    

    
}

html {
    color: dimgray;
    font-family: sans-serif;  
    line-height: 1.6;
    font-weight: bolder;
}
.header-center a { 

    text-decoration: none;
    color: #000;
    display:inline-block; 
    margin:0;
    text-transform:uppercase;
    font-weight: bolder; 
}
.header-center a:after {
    display:block;
    content: '';
    border-bottom: solid 3px purple;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.header-center a:hover:after { transform: scaleX(1); }
.header-center a.fromRight:after{ transform-origin:100% 50%; }
.header-center a.fromLeft:after{  transform-origin:  0% 50%; }


/* 로그인 css */
.log {
    float: right;
    font-size: 10px;
    margin-right: 20px;
}


.log a{
    float:left;
    text-decoration: none;
    display:inline-block;
    color: #000; 

}


/* 게시판 본문 */
html {
    font-size: 10px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_wrap {
    width: 1000px;
    margin: 100px auto;
    font-size: 10px;
}

.board_title {
    margin-bottom: 30px;
    text-align: center;
    cursor: pointer;
    color:#000;
}

.board_title strong {
    font-size: 3rem;
    
}
/* 수정 목록 등 wrap 등록버튼 */
.bt_wrap input[type="submit"] {
    text-align: center;
    display: inline-block;
    height: 44px;
    width: 101.6px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
    font-weight: bold;
    background: #000;
    color: #fff;
}
.bt_wrap input[type="submit"]:hover {
    opacity: 0.8;
}
.bt_wrap input[type="button"] {
    text-align: center;
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}
.bt_wrap {
    margin-top: 20px;
    text-align: right;
    font-size: 0;
    margin-right: 2%;
}
.bt_wrap button {
    text-align: center;
    display: inline-block;
    height: 44px;
    width: 101.6px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
    font-weight: bold;
}
.bt_wrap a {
    text-align: center;
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
}
.bt_wrap a:first-child:hover {
    opacity: 0.8;
    color:#Fff;
}
.bt_wrap a:hover {
    color:#000;
}
.bt_wrap button.on {
    background: #000;
    color: #fff;
}
.bt_wrap button:hover {
    opacity: 0.8;
    color:#Fff;
}
.board_list {
    width: 100%;
    border-top: 2px solid #000;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #000;
}

.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}

.board_list > div.top > div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 60%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
}

.board_list .writer {
    width: 15%;
}

.board_list .date {
    width: 15%;
}
/* 
.board_list .count {
    width: 10%;
} */

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.4rem;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}

.board_view {
    width: 100%;
    border-top: 2px solid #000;
}

.board_view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 2rem;
}
.board_view_wrap input[type="button"]{
    font-size: 12px;
    margin-right: 3%;
    margin-top: 10px;
    position: relative;
    float:right;
    cursor: pointer;
    font-weight: bold;
    color:#000;
    border: none;
    background-color: white;
}
.board_view_wrap input[type="button"]:hover {
    opacity: 0.8;
}
/* .board_view_wrap button {
    font-size: 12px;
    margin-right: 3%;
    margin-top: 10px;
    position: relative;
    float:right;
    cursor: pointer;
    font-weight: bold;
} */
/* .board_view_wrap button {
    color:#000;
    border: none;
    background-color: white;
}
.board_view_wrap button:hover {
    opacity: 0.8;
} */

.board_view .info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.board_view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.board_view .info dl:first-child {
    padding-left: 0;
}

.board_view .info dl::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 1px;
    height: 13px;
    background: #ddd;
}

.board_view .info dl:first-child::before {
    display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
    display: inline-block;
    font-size: 1.4rem;
}

.board_view .info dl dt {

}

.board_view .info dl dd {
    margin-left: 10px;
    color: #777;
}

.board_view .cont {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 15px;
    border-bottom: 1px solid #000;
    line-height: 160%;
    font-size: 1.4rem;
}

.board_write {
    border-top: 2px solid #000;
}

.board_write .title,
.board_write .info {
    padding: 15px;
}

.board_write .info {
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid #000;
    font-size: 0;
}

.board_write .title dl {
    font-size: 0;
}

.board_write .info dl {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.board_write .title dt,
.board_write .info dt {
    width: 100px;
}

.board_write .title dd {
    width: calc(100% - 150px);
}

.board_write .title input[type="text"],
.board_write .info input[type="text"],
.board_write .info input[type="password"] {
    padding: 10px;
    box-sizing: border-box;
}

.board_write .title input[type="text"] {
    width: 80%;
}

.board_write .cont {
    border-bottom: 1px solid #000;
}

.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}