
body{
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}
.back-button {
  margin-top: 5%;
  text-align: center;
}
.back-button a{
 
  margin-left: 26%;
  max-width:30px;
  max-height:30px;
}
.back-button a img {
  width: 30px;
  height: 30px;
}

h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: balck;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 100px;
}
.container h3 {
  font-size: 15px;
  
}
  
.container input[type="text"],
.container input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
.container button {
    background-color: #272727;

    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height:50px;
}
  
.container button:hover {
    opacity: 0.8;
}

.container a {
    
    width: 100%;
    height:50px;
    line-height: 50px;
    border: none;
    text-align: center;
    font-size: 15px;
    background-color : #272727;
    font-weight: 200;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
}
.container a:hover {
  opacity: 0.8;
}
.findlogin {
  margin-top:10px;
  text-align: center; 
}

.btn_findid {
  width: 197px;
  height: 50px;
  background-color: #272727;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
  justify-content: center;
}
.btn_findid:hover {
  opacity: 0.8;
}
.btn_findpwd {
  width: 197px;
  height: 50px;
  background-color: #272727;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
  justify-content: center;
}
.btn_findpwd:hover {
  opacity: 0.8;
}
.fastlogin {
  margin-top:10px;
  text-align: center; 
  margin-right: 200px;
}
.kakaologin {
  width: 197px;
  height: 50px;
  background-color: #272727;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
  justify-content: center;
}
.kakaologin p {
  
}
.kakaologin img {
  height:30px;
  width: 30px;
  float:left;
  position:relative;
  top:50%;
  transform:translateY(-50%);
}
.kakaologin:hover {
  opacity: 0.8;
}
